body{
    margin: 0;
    background-color: 	#FAF5E4;
    color: #2E2E2E;
}

h1{
    color:	#FAF5E4;
}

h2{
    text-align: center;
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24px;
    height: 128px;
    background-color: 	#5C3A21;
}

header img{
    height: 64px;
    filter: invert(95%) sepia(14%) saturate(746%) hue-rotate(52deg) brightness(102%) contrast(100%);
}

.books_section{
    height: 100vh;
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    width: 400px;
    background-color: #E7D8C1;
    margin-top: 48px;
    border-radius: 24px;
}

#books_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.template_img{
    display: block;
    margin: auto;
    height: 164px;
    width: 164px;
}

.like_btn{
    height: 48px;
}

.book_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.book_info ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 12px;
}

.comment_user{
    font-weight: 600;
}

.comment_text{
    font-weight: 300;
}

.books_section ul li{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 16px;
    padding-bottom: 24px;
}

#addSection{
    padding-bottom: 24px;
}